.custom-select {
    position: relative;
    min-width: 290px;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element: */
  }
  
  .select-selected {
    background-color: $white;
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top:20px;
    right: 20px;
    background-image: url(../images/icons/arrowdown.svg);
    width: 24px;
    height: 24px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
    color: $secondary;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    padding: 24px 30px;
    height: 62px;
    line-height: 1;
  }
  .select-selected{
    border-radius: 30px;
    &.select-arrow-active{
      border-radius: 0px;
    }
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: $white;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color:$primary;
    color: #fff;
  }