body {
  font-family: $font-family-sans-serif;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

* {
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}

.container {
  max-width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

input {
  &:focus {
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }

  &:active {
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
}

button {
  &:focus {
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }

  &:active {
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
  }
}

.MainGrid {
  display: flex;

  .MainGridLeft {
    width: 150px;
    flex: 0 0 150px;
    background: $white;
    position: relative;
    z-index: 5;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

  }

  .MainGridRight {
    flex: 1;
    background-color: #fff;

    .MainGridRightCnt {
      background-color: #F5F6FC;
      border-top-left-radius: 90px;
      height: 100%;
      padding-left: 70px;
      padding-right: 70px;
      position: relative;

      .CstContainer {
        max-width: 1591px;
        margin: 0 auto;
      }
    }
  }
}

header {
  padding: 80px 0px;
}

ul {
  &.LeftNav {
    margin: 0px;
    padding: 0px;
    list-style-type: none;

    li {
      list-style-type: none;
      margin-bottom: 40px;
      padding: 0px 4px;

      &.MenuIcon {
        padding: 30px 0px;
      }

      a {
        display: block;
        text-decoration: none;
        margin: 0 auto;
        height: 55px;
        position: relative;

        img {
          display: block;

          margin: 0 auto;
          margin-bottom: 10px;
        }

        span {
          font-weight: 300;
          font-size: 14px;
          color: $secondary;
          display: block;
        }
      }
    }
  }
}

.hoverBxTp1 {
  height: 55px;
  display: none;
}


.HoverStl1 {

  &:hover,
  &.Active {
    .positionAbs {
      display: none;
    }

    .hoverBxTp1 {
      display: block;
      position: absolute;
      width: 185px;
      left: 15%;

      .hoverBxTp1Cnt {
        background: $primary;
        color: $white;
        border-radius: 30px;
        border: 3px solid $white;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 55px;
        box-shadow: 0 4px 12px 0 hsla(0, 0%, 60%, .2);
        position: relative;
        z-index: 5;

        .hoverBxTp1CntLeft {
          width: 50px;
          flex: 0 0 50px;
          padding-left: 10px;

          img {
            margin-bottom: 0px;
          }
        }

        .hoverBxTp1Cntright {
          flex: 1;
          padding-left: 5px;
        }
      }
    }
  }
}

.SearchBoxTp1 {
  width: 306px;
  height: 62px;
  position: relative;

  form {
    width: 100%;
    height: 100%;
  }

  input {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    padding: 30px;
    background-color: #fff;
    border: none;
    padding-right: 40px;
    font-weight: 400;
    font-size: 14px;
  }

  button {
    position: absolute;
    top: 15px;
    background: #fff;
    right: 12px;
    border: none;

    &:focus {
      box-shadow: none !important;
    }
  }
}

.calenderBxTp1 {
  width: 309px;
  height: 62px;
  position: relative;
  background: $primary;
  border-radius: 30px;
  padding: 15px 20px;
  color: $white;

  span {
    font-size: 14px;
    margin-left: 10px;
  }
}

.fullWidthHeight {
  height: 100%;
  width: 100%;
}

.fullWidth {
  width: 100%;
}

.ProfileImage {
  img {
    width: 62px;
    height: 62px;
    padding: 3px;
    background: $primary;
    border-radius: 50%;
  }
}

.mrgR15px {
  margin-right: 15px;
}

.mrgR25px {
  margin-right: 40px;
}

.TextStl1 {
  color: $secondary;
  font-weight: 400;
  font-size: 65px;
  line-height: 1;
  margin-bottom: 30px;
}

.TextStl2 {
  font-size: 18px;
  font-weight: 300;
  color: $secondary;
  line-height: 1.3;
}

.NavStTp1 {
  margin-bottom: 40px;

  .nav {
    li {
      position: relative;

      &:last-child {
        &:after {
          display: none;
        }
      }

      &:after {
        content: "";
        height: 50%;
        width: 1px;
        background-color: $secondary;
        position: absolute;
        top: 25%;
        right: 0;
      }

      &:first-child {
        a {
          padding-left: 0px;
        }
      }

      a {
        color: #707070;
        font-weight: 400;
        font-size: 20px;
        padding: 10px 35px;

        &:hover {
          color: $secondary;
        }

        &.active {
          color: $secondary;

          &:after {
            content: "";
            height: 3px;
            width: 80%;
            background-color: $secondary;
            position: absolute;
            bottom: 0;
            left: 0;
          }
        }
      }
    }
  }
}

.GridBox3x3 {
  padding: 40px 0px;
}

.gridBxTp1 {
  background: $primary;
  color: $white;
  padding: 15px;
  border: 4px solid #fff;
  border-radius: 25px;
  text-align: center;
  box-shadow: 0 4px 12px 0 rgba(153, 153, 153, 0.2);
  margin-bottom: 20px;

  &.Completed {
    background: #9FC873;
  }

  &.cancelled {
    background: #E32F2F;
  }

  .gridBxTp1Txt1 {
    font-weight: 400;
    font-size: 50px;
    line-height: 1.2;
    margin-bottom: 10px
  }

  .gridBxTp1Txt2 {
    font-weight: 400;
    font-size: 20px;
  }
}

.GraphBoxTp1 {
  background: #fff;
  padding: 20px 10px;
  box-shadow: 0 4px 12px 0 hsla(0, 0%, 60%, .2);
  margin: 30px 0px;
  border-radius: 20px;
  margin-top: 0px;
}

.CustGraphTp1 {
  height: 100%;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  position: relative;
  font-size: 10px;
  display: flex;
  justify-content: space-between;

  &:after {
    content: "";
    width: 100%;
    height: 1px;
    background: #e4e4e4;
    position: absolute;
    left: 0px;
    top: 50%;
  }

  .text100 {
    position: absolute;
    top: 0px;
    left: 0px;
    font-weight: 300;
    margin-top: -8px;
    margin-left: -30px;
  }

  .text50 {
    position: absolute;
    top: 50%;
    left: 0px;
    font-weight: 300;
    margin-top: -6px;
    margin-left: -27px;
  }

  .text0 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    font-weight: 300;
    margin-top: 0px;
    margin-left: -25px;
  }
}

.GraphBox {
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-right: 10px;

  .GraphItem1 {
    width: 10px;
    height: 100%;
    background: #F5F6FC;
    position: relative;
    z-index: 2;
    border-radius: 10px;

    &.today {
      .GraphItem1Count {
        margin-left: -8px;
      }

      .GraphItem1Perc {
        background-color: $primary;
      }
    }

    .GraphItem1Count {
      position: absolute;
      bottom: -23px;
      left: 0px;
    }

    .GraphItem1Perc {
      width: 8px;
      left: 1px;
      bottom: 0px;
      background-color: $secondary;
      border-radius: 5px;
      position: absolute;
    }
  }
}

.RevenueWrp {
  padding-left: 20px;

  .revenueBox {
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 12px 0 hsla(0, 0%, 60%, .2);
    background: #fff;

    .revenueBoxCount {
      background: $primary;
      color: $white;
      padding: 40px;
      border: 3px solid #fff;
      border-radius: 20px;
      box-shadow: 0 4px 12px 0 hsla(0, 0%, 60%, .2);
    }
  }
}

.revenueText1 {
  font-weight: 400;
  line-height: 1.3;
  font-size: 55px;
}

.revenueText2 {
  font-weight: 400;
  font-size: 27px;
}

.BillBox {
  margin-top: 27px;
  border-radius: 20px;
  box-shadow: 0 4px 12px 0 hsla(0, 0%, 60%, .2);
  padding: 25px;
  background: $white;

  .BillBoxTxt1 {
    font-weight: 400;
    color: $secondary;
    font-size: 50px;
    font-size: 44px;
    margin-bottom: 3px;
  }

  .BillBoxTxt2 {
    font-weight: 400;
    color: $secondary;
    font-size: 27px;
  }
}

.lnkTp1 {
  font-weight: 400;
  font-size: 17px;
  color: $secondary;
  display: inline-block;

  &:first-child {
    margin-right: 15px;
  }

  &:after {
    content: "";
    width: 18px;
    height: 18px;
    background-size: 100% 100%;
    background-image: url(../images/icons/export.svg);
    display: inline-block;
    margin-left: 10px;
    position: relative;
    top: 3px;

  }

  &.refresh {
    &:after {
      background-image: url(../images/icons/refresh.svg);
    }
  }
}

a {
  text-decoration: none !important;
}

.LinkTpwrp1 {
  margin: 40px 0px;

  .LftNavTp1 {
    .nav {
      box-shadow: 0 4px 12px 0 hsla(0, 0%, 60%, .2);
      border-radius: 35px;
      background-color: $white;

      li {
        a {
          color: $secondary;
          padding: 12px 15px;
          min-width: 125px;
          font-size: 17px;

          &.active {
            background-color: $secondary;
            color: $white;
            border-radius: 35px;
          }
        }

      }
    }
  }

  .RgtNavTp1 {
    .nav {
      li {
        a {
          color: $secondary;
          min-width: 150px;
          text-align: center;
          position: relative;

          &:after {
            content: "";
            background: $secondary;
            width: 1px;
            height: 50%;
            position: absolute;
            top: 25%;
            right: 0;
            background-image: none;
          }

          &.dropdown-toggle {
            &:after {
              content: "";
              width: 18px;
              height: 18px;
              background: url(../images/icons/arrowdown.svg);
              background-size: 100% 100%;
              display: inline-block;
              border: 0px !important;
              position: absolute;
              top: 10px;

              right: -10px;
            }
          }
        }
      }
    }
  }

}

.ListBoxTp1 {
  .listHead {
    border-bottom: 1px solid #e4e4e4;
    font-size: 15px;
    font-weight: 400;
    padding: 10px 3px;
    text-transform: capitalize;
    opacity: 50%;
    text-align: center;
    color: $secondary;

    .row {
      margin: 0px 5px;

      .col-md-2 {
        padding: 0px 5px !important;
      }
    }
  }

  .listItemRow {
    color: $secondary;
    font-size: 15px;
    margin-top: 20px;
    background: $white;
    box-shadow: 0 4px 12px 0 hsla(0, 0%, 60%, .2);
    border-radius: 35px;
    padding: 15px 3px;
    cursor: pointer;

    .StatusIcon {
      button {
        background: transparent !important;
      }
    }

    &.customerRow {
      &:hover {
        background-color: $primary;

        .StatusIcon {
          button {
            background: $primary !important;
          }
        }
      }
    }

    .row {
      margin: 0px 5px;

      .col-md-2 {
        padding: 0px 5px !important;
      }
    }

    &.orderCompleted {
      background: #A2C677;

      .StatusIcon {
        button {
          background: #A2C677 !important;
        }
      }
    }

  }
}

.StatusIcon {

  border: 0px solid red;

  .dropdown-menu.show {
    left: auto !important;
    right: 0 !important;
    border-radius: 25px;
    background: $secondary;
    color: $white;

    a {
      color: #FACF04;
      border-radius: 25px;

      &:hover {
        background: $secondary;
        color: $white;
      }
    }
  }

  button {

    border: 0px solid red;

    &:after {
      border: none;
    }
  }

}

.InActiceCst {
  color: #EC2118 !important;
}

.ActiceCst {
  color: #9FC873 !important;
}

.menuManagement {
  .NavStTp1 {
    text-transform: capitalize;
    margin-bottom: 0px;

    .nav {
      margin-right: 50px;

      li {
        a {
          font-size: 17px;
        }
      }
    }
  }
}

.MenuRow {
  margin: 30px 0px;
  box-shadow: 0 4px 12px 0 hsla(0, 0%, 60%, .2);
  border-radius: 35px;
  font-weight: 400;
  background: $white;

  a {
    font-size: 17px;
    padding: 10px 20px;
    color: $secondary;

    &.active {
      color: $white;
      background-color: $secondary;
      border-radius: 20px;
    }

    &.MenuAddBtn {
      box-shadow: 0 4px 12px 0 hsla(0, 0%, 60%, .2);
      padding: 10px 15px;
      border-radius: 50%;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

.menuItemRowTp1 {
  box-shadow: 0 4px 12px 0 hsla(0, 0%, 60%, .2);
  padding: 10px;
  border-radius: 15px;
  background: $white;
  margin-bottom: 20px;
  transition: 0.3s;

  &:hover {
    background: rgba(33, 37, 41, 0.75);
  }

}

.border-radius-20 {
  border-radius: 20px;
}

.menuItemDescColTxt1 {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  position: relative;
  font-size: 27px;

  &:after {
    content: "";
    width: 50px;
    height: 3px;
    border-radius: 10px;
    background-color: $primary;
    position: absolute;
    left: 0;
    bottom: 0;
  }
}

.menuItemDescColTxt2 {
  font-size: 16px;
  margin-bottom: 20px;
}

.MenuTags {
  margin-bottom: 20px;
  text-transform: capitalize;

  span {
    font-size: 15px;
    color: $primary;
    background: #F5F6FC;
    padding: 5px 19px;
    margin-right: 25px;
    border-radius: 15px;
  }
}

.menuActionBtn {
  padding-bottom: 20px;

  .menuActionBtn1 {
    font-size: 15px;
    padding: 5px 19px;
    margin-right: 25px;
    color: $primary;
    border-radius: 15px;
    box-shadow: 0 4px 12px 0 hsla(0, 0%, 60%, .2);
    background: $white;

    &.Marked {
      background: #ED2219;
      color: #fff;
    }

    &.MarkAvailable {
      background: #9FC873;
      color: #fff;
    }
  }

  .menuActionBtn2 {
    border-radius: 50%;
    display: inline-block;
    width: 40px;
    height: 40px;
    background: $primary;
    box-shadow: 0 4px 12px 0 hsla(0, 0%, 60%, .2);
    border: 2px solid #fff;

    img {
      padding: 11px;
      width: 100%;

    }

    margin-right: 10px;
  }

  .menuActionBtn3 {
    border-radius: 50%;
    display: inline-block;
    width: 40px;
    height: 40px;
    background: $primary;
    box-shadow: 0 4px 12px 0 hsla(0, 0%, 60%, .2);
    border: 2px solid #fff;

    img {
      padding: 11px;
      width: 100%;
    }
  }

  .PriceTag {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 27px;
    font-weight: 400;
  }
}

.AdvanceReport {
  .NavStTp1 {
    .nav {
      li {
        a {
          font-size: 16px;
        }
      }
    }
  }
}

.dtp>.dtp-content>.dtp-date-view>header.dtp-header {
  background: $primary !important;
}

.dtp div.dtp-date,
.dtp div.dtp-time {
  background: $primary !important;
}

.dtp-date {
  i {
    color: $white;
  }
}

.dtp table.dtp-picker-days tr>td>a.selected {
  background-color: $secondary;
}

.dtp .dtp-buttons button {
  margin-right: 10px;
  border: none;
  color: $white;
  border-radius: 10px;
}

.dtp .dtp-buttons button.dtp-btn-cancel {
  background: #E32F2F;
}

.dtp .dtp-buttons button.dtp-btn-ok {
  background: #9FC873;
}

::placeholder {
  color: $secondary;
  opacity: 1;
}

:-ms-input-placeholder {
  color: $secondary;
}

::-ms-input-placeholder {
  color: $secondary;
}

.DatePickerBox1 {
  box-shadow: 0 4px 12px 0 hsla(0, 0%, 60%, .2);
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  max-width: 180px;
  position: relative;
  cursor: pointer;
}

.ArrowIcon {
  background-image: url(../images/icons/arrowdown.svg);
  width: 23px;
  height: 23px;
  background-size: 100%;
  position: absolute;
  top: 10px;
  right: 10px;
}

.SearchIcon {
  border: none;
  box-shadow: 0 4px 12px 0 hsla(0, 0%, 60%, .2);
  background-color: $primary;
  padding: 6px 0px;
  border-radius: 50%;
  height: 44px;
  width: 44px;
  border: 3px solid #fff;

  img {
    width: 16px;
  }
}

.AdvNavTp1 {
  margin-bottom: 30px;
}

.AdvanceReport {
  .ListBoxTp1 .listHead {
    .row {
      .col-md-2 {
        padding: 0px 5px !important;
        -ms-flex: 0 0 16.66667%;
        flex: 0 0 14.285%;
        max-width: 14.285%;
        align-items: center;
        justify-content: center;
        display: flex;

        &.DoubleWidth {
          -ms-flex: 0 0 28.57%;
          flex: 0 0 28.57%;
          max-width: 28.57%;
        }

        &.Width20 {
          -ms-flex: 0 0 20%;
          flex: 0 0 20%;
          max-width: 20%;
        }
      }
    }
  }

  .ListBoxTp1 .listItemRow .row .col-md-2 {
    padding: 0px 5px !important;
    -ms-flex: 0 0 16.66667%;
    flex: 0 0 14.285%;
    max-width: 14.285%;
    align-items: center;
    justify-content: center;
    display: flex;

    &.DoubleWidth {
      -ms-flex: 0 0 28.57%;
      flex: 0 0 28.57%;
      max-width: 28.57%;

      .NotIcnTp1 {
        padding-top: 9px;
      }
    }

    &.Width20 {
      -ms-flex: 0 0 20%;
      flex: 0 0 20%;
      max-width: 20%;
    }
  }
}

.NotificationPage {
  .ListBoxTp1 {
    margin-top: 30px;

    .listItemRow .row .col-md-2,
    .listItemRow .row .col-md-4 {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.modal {
  background: rgba(46, 71, 101, 0.7);
}

.ModalTp1 {

  .modal-content {
    border-radius: 25px;
    background-color: #F5F6FC;

    .modal-header {
      padding: 22px;
      border-bottom: 0px solid #dee2e6;
    }

    .modal-body {
      padding: 22px;
      padding-top: 0px;
    }

    .ListModlTp1 {
      color: $primary;
      font-size: 16px;
      padding: 15px 0px 20px 0px;
      border-bottom: 1px solid #dee2e6;

      .ListModlTp1Clm {
        span {
          &:first-child {
            color: $secondary;
            margin-right: 10px;
          }
        }
      }
    }

    .mdlBxTp1 {
      .mdlBxTxt1 {
        font-size: 30px;
        color: $secondary;
      }

      .mdlBxTxt2 {
        font-size: 14px;
        color: $primary;
        background: $white;
        margin-left: 10px;
        box-shadow: 0 4px 12px 0 rgba(153, 153, 153, 0.2);
        border-radius: 35px;
        padding: 7px 15px;
      }
    }

    .mdlBxTp1Txt2 {
      font-size: 16px;
      color: $primary;
    }
  }

  .modalHdrCst1 {
    position: relative;

    button {
      &.close {
        position: absolute;
        top: 0px;
        right: 0;
      }

    }
  }

  .ModalSpaceLinkTp1 {
    background-color: $white;
    padding: 10px 30px;
    border-radius: 35px;
    margin-bottom: 20px;
  }

  .ModalSpaceLinkTp1clm {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.ModalSpaceLinkTp1 {
  .ModalSpaceLinkTp1clm {
    position: relative;
    border-right: 1px solid #707070;

    &:last-child {
      border-right: 0px solid #707070;
    }

    .ModalTp1clmTxt1 {
      color: $primary;
      font-size: 17px;
    }

    .ModalTp1clmTxt2 {
      color: $secondary;
      font-size: 11px;
    }
  }
}

.orderDetBox {
  padding: 20px;
  background: $white;
  border-radius: 25px;
  font-size: 16px;

  .orderDetBoxHd1 {
    margin-bottom: 15px;
    line-height: 1;
    color: $secondary;
  }

  .OrdItemBoxRow {
    color: $primary;

    &.SubTotalBox {
      color: $secondary;
      font-weight: 500;
      padding: 10px 0px;
    }

    &.SubTotalBoxSub {
      color: $secondary;
      font-weight: 300;
    }
  }
}

.GrandBoxTp1 {
  padding-left: 35px;

  .GrandBoxTp1Txt1 {
    font-size: 16px;
    color: $secondary;
  }

  .GrandBoxTp1Txt2 {
    font-size: 35px;
    color: $primary;
    margin-bottom: 80px;
  }
}

.ContactPersonTp1 {
  ul {
    margin: 0;
    padding: 0;

    li {
      color: $primary;
      font-size: 16px;
      border-right: 1px solid #707070;
      margin: 10px 0px;
      padding: 0px 10px;
      line-height: 1;

      &:first-child {
        padding-left: 0px;
      }

      &:last-child {
        border-right: 0px solid #707070;
      }
    }
  }
}

.LinkTpPop1 {
  box-shadow: 0 4px 12px 0 rgba(153, 153, 153, 0.2);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  background: #fff;
  text-align: center;
  padding-top: 7px;
}

.NotIcnTp1 {
  background-color: $primary;
  width: 45px;
  height: 45px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 11px;
  padding-top: 11px;
  text-align: center;
  -webkit-box-shadow: 0 4px 12px 0 rgba(153, 153, 153, 0.2);
  box-shadow: 0 4px 12px 0 rgba(153, 153, 153, 0.2);
}

.AddResponse {

  background-color: $secondary;
  color: $white;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0px;
  z-index: 4;

  transition: 0.5s;
  height: 0;
  padding: 0;

  &.Activated {
    height: auto;
    padding: 30px 30px 10px 230px;
  }

  .CstRow12 {
    .col-md-4 {
      flex: 0 0 30.33333%;
      max-width: 30.33333%;
    }

    .col-md-3 {
      flex: 0 0 22.33333%;
      max-width: 22.33333%;
    }
  }

  .custom-select {
    position: relative;
    min-width: 100%;
  }

  .select-items {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
  }

  .select-items div,
  .select-selected {
    padding: 21px 30px;
    height: 55px;
    font-size: 15px;
  }

  input {
    padding: 21px 30px;
    height: 55px;
    font-size: 15px;
    border-radius: 30px;
    border: none;

    &::placeholder {
      color: $secondary;
      opacity: 1;
      /* Firefox */
    }

    &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: $secondary;
    }

    &::-ms-input-placeholder {
      /* Microsoft Edge */
      color: $secondary;
    }
  }

  .SubmitBtnTp1 {
    border: 2px solid $white;
    background: $primary;
    padding: 16px 30px;
    height: 55px;
    font-size: 16px;
    text-align: center;
    border-radius: 35px;
    color: $white;
  }

  textarea {
    height: 130px;
    text-align: left;
    padding: 30px 26px;
    border-radius: 35px;
  }

  .select-selected {
    &:after {
      width: 20px;
      height: 20px;
      top: 17px;
    }
  }

  .form-group {
    margin-bottom: 20px;
  }

  .CstRadio {
    height: 55px;
    text-align: center;
    padding: 18px 26px;
    border-radius: 35px;
    background: #fff;
    font-size: 15px;
    color: $secondary;
    position: relative;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
      background: $primary;
      color: $white;

      &::after {
        content: "";
        background-color: $white;
        width: 102%;
        height: 104%;
        position: absolute;
        top: -2%;
        left: -1%;
        z-index: -1;
        border-radius: 35px;
      }
    }
  }
}

.RightArrowTp1 {
  position: relative;

  &:after {
    position: absolute;
    content: "";
    right: 20px;
    background-image: url(../images/icons/arrowdown.svg);
    width: 20px;
    height: 20px;
    top: 17px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}

.placeHolder::-webkit-input-placeholder {
  color: $secondary;
}

.placeHolder:-moz-placeholder {
  color: $secondary;
}

.placeHolder::-moz-placeholder {
  color: $secondary;
}

.placeHolder:-ms-input-placeholder {
  color: $secondary;
}

.placeHolder::placeholder {
  color: $secondary;
}

.AddNewItem {
  img {
    transition: 0.5s;
  }

  &.Activated {
    img {
      transform: rotate(45deg);
    }
  }
}

.dtp>.dtp-content {
  max-width: 500px;
}

.dtp div.dtp-picker {
  padding: 10px;
  background: #fff;
}

.dtp table.dtp-picker-days {
  width: 100%;
}

.dtp .dtp-picker-time>a,
.dtp table.dtp-picker-days tr>td>a {
  font-size: 15px;
}

.dtp .dtp-buttons {
  padding: 10px;
  background: #fff;
}

.dtp .dtp-buttons button {
  padding: 10px;
  min-width: 120px;
}

#dtp-svg-clock svg {
  width: 80% !important;
}

#dtp-svg-clock {
  margin: 0 auto;
}

#dtp-svg-clock * {
  font-size: 15px;
}

.RevewBoxTp1 {
  border-top: 1px solid #e4e4e4;
  padding: 25px 0px 0px 0px;
}

.WhiteBoxRadius {
  background: #fff;
  border-radius: 25px;
  padding: 20px;

  .RvTxt1 {
    font-size: 18px;
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 20px;
    color: $secondary;
    margin-bottom: 20px;
    line-height: 1;
  }

  .prReviewItem {
    background: #F5F6FC;
    padding: 10px 20px;
    font-size: 17px;
    -webkit-box-shadow: 0 4px 12px 0 rgba(153, 153, 153, 0.2);
    border: 2px solid $white;
    border-radius: 25px;
    margin-bottom: 20px;

    .prReviewItemTxt1 {
      color: $secondary;
      font-size: 16px;
      margin-right: 5px;
    }
  }
}

.ReviewItemWrp {
  padding-top: 15px;

  .ReviewItem1 {
    background: #F5F6FC;
    padding: 10px;
    font-size: 17px;
    -webkit-box-shadow: 0 4px 12px 0 rgba(153, 153, 153, 0.2);
    border: 2px solid $white;
    border-radius: 25px;
  }
}

.ReviewCount {
  color: $primary;
  margin-right: 5px;
}

.ReviewText {
  color: $secondary;
}

.prReviewItemTxt3 {
  font-size: 14px;
  color: $secondary;
  opacity: 0.5;
  padding: 10px 0px;
}

.ReplyForm {
  display: none;
}

.prReviewItemTxt4 {
  -webkit-box-shadow: 0 4px 12px 0 rgba(153, 153, 153, 0.2);
  border: 2px solid $white;
  border-radius: 25px;
  background-color: $primary;
  color: $white;
  min-width: 150px;
  text-align: center;
  font-size: 16px;
  padding: 7px 10px;
  cursor: pointer;
  display: inline-block;
}

.StarIconBox {
  background-color: $primary;
  color: $white;
  width: 45px;
  height: 45px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  padding-top: 6px;
  box-shadow: 0 4px 12px 0 rgba(153, 153, 153, 0.2);
  border: 2px solid $white;

  img {
    max-width: 100%;
  }
}

.ReviewBtnTp1 {
  padding: 7px 10px;
  min-width: 120px;
  background: #9FC873;
  color: $white;
  border: 2px solid #fff;
  box-shadow: 0 4px 12px 0 rgba(153, 153, 153, 0.2);
  border-radius: 25px;
  text-align: center;
}

.ReviewBtnTp2 {
  padding: 7px 10px;
  min-width: 120px;
  background: #E32F2F;
  color: $white;
  border: 2px solid #fff;
  box-shadow: 0 4px 12px 0 rgba(153, 153, 153, 0.2);
  border-radius: 25px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.ReplyTextArea {
  border-radius: 25px;
  box-shadow: 0 4px 12px 0 rgba(153, 153, 153, 0.2);
  border: none;
  text-align: left;
  padding: 20px;
  font-size: 14px;
}

.AddNewIconTp11 {
  border-radius: 30px;
  box-shadow: 0 4px 12px 0 rgba(153, 153, 153, 0.2);
  border: 2px solid #fff;
  font-size: 16px;
  cursor: pointer;
  padding: 24px 30px;
  height: 62px;
  line-height: 1;
  display: block;
  color: $white !important;
  background: $primary;
  min-width: 260px;
}

.ProfileBoxTp {
  .WhiteBgRadius {
    background: $white;
    box-shadow: 0 4px 12px 0 rgba(153, 153, 153, 0.2);
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 20px;
  }

  .Avatar-img {
    border-radius: 50%;
    padding: 4px;
    background: $primary;
    min-width: 120px;
  }

  .ChangeImage {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding: 5px;
    display: inline-block;
    text-align: center;
    -webkit-box-shadow: 0 4px 12px 0 rgba(153, 153, 153, 0.2);
    box-shadow: 0 4px 12px 0 rgba(153, 153, 153, 0.2);
    border: 2px solid #fff;
    background: $secondary;
    padding-top: 7px;
    position: absolute;
    right: 0px;
    bottom: -15px;
  }
}

.EditBoxTp1 {
  background-color: $primary;
  width: 45px;
  height: 45px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 11px;
  padding-top: 11px;
  text-align: center;
  -webkit-box-shadow: 0 4px 12px 0 rgba(153, 153, 153, 0.2);
  box-shadow: 0 4px 12px 0 rgba(153, 153, 153, 0.2);
}

.profileDpTxt1 {
  font-size: 17px;
  color: $secondary;
}

.profileDpTxt2 {
  font-size: 15px;
  color: $primary;
}

.ChangePasswordBox {
  .LockImgBox {
    width: 120px;
    height: 120px;
    -webkit-box-shadow: 0 4px 12px 0 rgba(153, 153, 153, 0.2);
    box-shadow: 0 4px 12px 0 rgba(153, 153, 153, 0.2);
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: $primary;
    display: inline-block;
    padding: 10px;
    text-align: center;
    padding-top: 25px;
  }

  .Hdrow1 {
    margin-bottom: 30px;
  }

  .Hdrow1Hd1 {
    font-size: 17px;
    color: $secondary;
    margin-bottom: 15px;
  }

  .Hdrow1Hd2 {
    font-size: 13px;
    color: $secondary;
    opacity: 0.5;
  }
}

.InputBoxTp1 {
  .form-group {
    margin-bottom: 20px;
  }

  input {
    box-shadow: 0 4px 12px 0 rgba(153, 153, 153, 0.2);
    padding: 15px 30px;
    border-radius: 25px;
    border: 1px solid #e4e4e4;
    text-transform: capitalize;
    font-size: 13px;
  }

  textarea {
    box-shadow: 0 4px 12px 0 rgba(153, 153, 153, 0.2);
    padding: 15px 30px;
    border-radius: 25px;
    border: 1px solid #e4e4e4;
    text-transform: capitalize;
    font-size: 13px;
    min-height: 120px;
  }

  button {
    -webkit-box-shadow: 0 4px 12px 0 rgba(153, 153, 153, 0.2);
    box-shadow: 0 4px 12px 0 rgba(153, 153, 153, 0.2);
    border: 2px solid #fff;
    border-radius: 25px;
    background-color: $primary;
    color: $white;
    min-width: 160px;
    padding: 10px 20px;
    font-size: 16px;
  }
}

.min-630-px {
  min-height: 630px;
}

.min-width-1000px {
  min-width: 1000px !important;
}

.min-width-800px {
  min-width: 800px !important;
}

.TexWrpTp3 {
  .TexWrpTp31 {
    color: $secondary;
  }

  .TexWrpTp32 {
    color: $primary;
  }
}

.BtnSt1 {
  color: $white;
  box-shadow: 0 4px 12px 0 rgba(153, 153, 153, 0.2);
  border: 2px solid #fff;
  border-radius: 35px;
  background-color: $primary;
  text-align: center;
  padding: 10px;

  .BtnSt11 {
    font-weight: 600;
    font-size: 16px;
  }

  .BtnSt11 {
    font-weight: 600;
    font-size: 17px;
  }

  .BtnSt12 {
    font-size: 13px;
  }
}

.border-none {
  border: 0px solid #ffff !important;
}

.ModalTable1 {
  .ListBoxTp1 .listItemRow {
    padding: 7px 3px;
  }
}

.SelectBxTp01 {
  background: #fff;
  border-radius: 30px;

  .select-items div,
  .select-selected {
    height: auto;
    padding: 18px 30px;
    font-size: 13px;

  }

  .custom-select {
    border-radius: 0px;
    min-width: 20px;
    display: inline-block;
    width: 49.4%;
    position: relative;

    &:first-child {
      border-right: 1px solid #e4e4e4;
    }
  }

  .select-selected:after {
    position: absolute;
    content: "";
    top: 15px;
    right: 10px;
    background-image: url(../images/icons/arrowdown.svg);
    width: 19px;
    height: 20px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
}

.TcrTp1Txt2 {
  color: $secondary;
  font-size: 14px;
}
.TcrTp1Txt1{
  .Span1{
    display: inline-block;
    position: relative;
    color: $primary;
    font-size: 23px;
    padding-right: 10px;
    padding-left: 10px;
    line-height: 1;
    margin-bottom: 10px;
    &:first-child{
      border-right: 2px solid $secondary;
      padding-left: 0px;
    }
    
  }
}
.StRowTp1{
  margin-top: 20px;
}
.SideDrawer{
  .OverLayBox{
    background: rgba(46, 71, 101, 0.7);
    position: fixed;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    z-index: 10;
  }
  .AdminDetaiBox{
    background-color: #f5f5f5;
    width: 300px;
    height: 100vh;
    position: fixed;
    right: -500px;
    top: 0px;
    z-index: 11;
    transition: 0.5s;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  &.Active{
    .OverLayBox{
      height: 100%;
      width: 100%;
      
    }
    .AdminDetaiBox{
      right: 0;
    
    }
  }
  
}

.drawer-cover {
  border-top-left-radius: 30px;
  background-color: $primary;
  height: 150px;
}
.avathar-drawer {
position: relative;
margin: 0 auto;
    text-align: center;
}
.avathar-drawer img {
  width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 3px;
    margin-top: -47px;
    background-color: $primary;
    box-shadow: 0 4px 12px 0 rgba(153, 153, 153, 0.2);
  border: 2px solid #fff;
  margin-bottom: 20px;
}
.AdminDetaiBoxVnt{
  text-align: center;
  .userName{
    color: $secondary;
    font-size: 18px;
  }
  .userNameSbTxt{
    color: $primary;
    font-size: 15px;
  }
}
.LinkTpDash1{
  border-bottom: 1px solid #e4e4e4;
  padding: 10px 20px;
  background: #fff;
  a{
    color: $secondary;
    img{
      margin-right: 10px;
    }
  }
  &:first-child{
    border-top: 1px solid #e4e4e4;
  }
}
.NotificaPnl12{
  border-bottom: 1px solid #e4e4e4;
}
.NotificationsBox{
  background: $white;
  .NotificationsRow{
    padding: 10px;
    border-bottom: 1px solid #e4e4e4;
  }
}
.NotificationsRow{
  .NotificationCount{
    background-color: $primary;
    box-shadow: 0 4px 12px 0 rgba(153, 153, 153, 0.2);
    border: 2px solid #fff;
    display: inline-block;
    padding: 10px;
    color: $white !important;
    font-weight: 600;
    font-size: 18px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .NotificationText{
    color: $secondary !important;
    height: 48px;
    overflow: hidden;
    line-height: 1.2;
    padding-right: 10px;
    font-size: 14px;
  }
}
.TabBoxTp1{
  position: relative;
  padding-right: 55px;
  overflow-y: hidden;
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  &::-webkit-scrollbar-thumb {
    background: #888; 
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  a{
    display: inline-block;
  }
}
.MenuItemBoxTab{
  display: none;
  &.ShowingTab{
    display: block;
  }
}
.ChatBoxTp1{
  height: 245px;
}
@media only screen and (max-width: 1450px) {
  .SearchBoxTp1 {
      width: 300px;
      height: 55px;
  }
  .calenderBxTp1 {
    width: 309px;
    height: 55px;
  }
  .calenderBxTp1 img{
    width:25px;
  }
  .SearchBoxTp1 button img{
    width:25px;
  }
  .NotificationIcon{
    img{
          width: 35px;
    }
  }
  header {
      padding: 45px 0px;
  }
  .ProfileImage img {
    width: 55px;
    height: 55px;
  }
  .select-items div, .select-selected{
    padding: 21px 30px;
    height: 55px;
  }
  .select-selected:after{
    top: 18px;
    right: 20px;
    width: 22px;
    height: 22px;
  }
  .TextStl1{
        font-size: 60px;
  }
  .NavStTp1 .nav li a {
      font-size: 17px;
      padding: 8px 35px;
  }
  .gridBxTp1 .gridBxTp1Txt1 {
      font-size: 45px;
      margin-bottom: 5px;
  }
  .gridBxTp1 .gridBxTp1Txt2 {
      font-size: 19px;
  }
  .revenueText1{
    font-size: 50px;
  }
  .revenueText2 {
      font-size: 25px;
  }
  .ChatBoxTp1 {
      height: 215px;
  }
  .LinkTpwrp1 .LftNavTp1 .nav li a{
    font-size: 16px;
  }
  .DatePickerBox1{
    font-size: 15px;
  }
  .menuManagement .NavStTp1 .nav li a {
    font-size: 16px;
    padding: 8px 25px;
  }
  .AdvanceReport .NavStTp1 .nav li a {
      font-size: 16px;
      padding: 8px 25px;
  }
  .AddNewIconTp11{
    padding: 18px 30px;
    height: 55px;
  }
}